.direct-page {
  background: rgb(11, 16, 20);
  padding-top: 56px;   /* header */
  padding-bottom: 64px; /* nav */
}

.direct-items-container {
  padding-bottom: 14px; /* espaço visual para banner */
}
